{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
<div class="example-wrapper">
    <h1>Hello Etudiante ♥</h1>

</div>
    {% block script %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
