.table-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    height: 60px;
    margin-left: 10px;
}
.table-header :nth-child(1), .table-header :nth-child(2) {
    flex: 1;
    padding-left: 12px;
}
.table-header :nth-child(3){
    width: 200px;
    text-align: center;
}
button.accordion-button{
    width: fit-content;
}
.accordion-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #00345f;
    margin: 0 10px;
}
.accordion-header :nth-child(1), .accordion-header :nth-child(2) {
    flex: 1;
    padding-left: 12px;
}
.accordion-header :nth-child(2) {
    text-align: center;
}