<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}UPJV - Choix d'options{% endblock %}</title>
    {% block stylesheets %}
        {#<link rel="stylesheet" type="text/css" href="/css/base.css"/>#}
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>